{
    "version": "2018-05-29",
    "method": "DELETE", 
    "resourcePath": "/v1/restaurants/${ctx.args.input.restaurantId}",
    "params":{
        "headers": {
            "Content-Type": "application/json"
        }
    }
}