aws-cdk-lib==2.194.0
constructs>=10.0.0,<11.0.0
cdk-nag
boto3
packaging
jsonc-parser
black
pytest
pytest-mock
pytest-cov
pytest-xdist
pylint
mock
moto
aws-lambda-powertools
schema
bandit
flake8
typing-extensions
dynamodb-json
codespell
requests-aws4auth
